<?xml version="1.0" encoding="UTF-8"?>
<root>
  <Directories>
    <serverin>E:\cysh5\server\h5-app\src\main\resources\json</serverin>
    <clientin>E:\cysh5\server\h5-app\src\main\resources\json</clientin>
    <commonin>E:\actgame\程序用表\转出表-客户端</commonin>
    <serverout>E:\work\程序用表\转出表-服务器</serverout>
    <clientout>E:\work\程序用表\转出表-客户端</clientout>
  </Directories>
  <Settings>
    <username>用户名</username>
  </Settings>
</root>