<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="PropUtil" class="com.sh.util.PropUtil">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8"></property>
	</bean>

	<!-- 图片实用类 -->
	<bean id="PicUtil" class="com.sh.util.PicUtil">
	</bean>

	<!-- 时间实用类 -->
	<bean id="TimeUtil" class="com.sh.util.TimeUtil">
	</bean>

	<!-- 网络实用类 -->
	<bean id="NetUtil" class="com.sh.util.NetUtil">
	</bean>
	
	<!-- 随机实用类 -->
	<bean id="RandomUtil" class="com.sh.util.RandomUtil">
	</bean>

	<!-- Json读取类 -->
	<bean id="TableReader" class="com.sh.table.TableReader">
	</bean>

	<!-- 用户服务类 -->
	<bean id="UserService" class="com.sh.service.UserService"></bean>
	
	<!-- 抽奖服务类 -->
	<bean id="LotteryService" class="com.sh.service.LotteryService"></bean>
	
	<!-- 排行榜服务类 -->
	<bean id="RankService" class="com.sh.service.RankService"></bean>

	<!-- 用户类 -->
	<bean id="User" class="com.sh.bean.User" scope="prototype">
	</bean>
	
	<!-- IP限制类 -->
	<bean id="LikesLimit" class="com.sh.bean.LikesLimit" scope="prototype">
	</bean>


	<!-- 配置类 -->
	<bean id="SHConfig" class="com.sh.config.SHConfig"></bean>

	<!-- 配置RestTemplate -->
	<!--Http client Factory -->
	<bean id="httpClientFactory"
		class="org.springframework.http.client.SimpleClientHttpRequestFactory">
		<property name="connectTimeout" value="${httpclient.connectTimeout}" />
		<property name="readTimeout" value="${httpclient.readTimeout}" />
	</bean>

	<!--RestTemplate -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<constructor-arg ref="httpClientFactory" />
	</bean>

	<!-- 事务管理器 -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务注解驱动，标注@Transactional的类和方法将具有事务性 -->
	<tx:annotation-driven transaction-manager="txManager" />
</beans>